@media screen and (max-width: 1400px) {
    /* #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    } */
   
    
   
}

@media screen and (max-width: 1100px) {
    
    /* #experience,
    .experience-details-container {
        margin-top: 2rem;
    } */
    /* #profile, 
    .section-container {
        display: block;
    } */
   
    
    /* .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    } */
    /*****************************/ 
    
    #desktop-nav {
        justify-content: center;        
    }   

    body {
        margin: 0 4rem;
    }

    nav {
        margin: 0 4rem;       
        
    }
    
    #hero {            
        width: calc(100% + 8rem);
        margin-left: -4rem;
        margin-right: -4rem;        
        
    }   
    
    .lg-project-container {     
        gap: 2rem;            
    }

    .project-details-container,
    .sm-project-details-container {   
        flex-direction: column;               
        gap: 0rem;                
    }

    .sm-project-details-container img {
        width: 100%;
        max-height: fit-content;
    }

    .project-img {        
        width: 100%;        
    }

    .project-info-container {
        width: 100%;  
            
        padding: 1rem;              
    } 
    
    .sm-project-details-container 
    .project-info-container {
        padding: 1rem;
    }
    

    .btn-container {
        align-self: flex-end;
    }

    #contact, 
    #footer {        
        width: calc(100% + 8rem);
        margin-left: -4rem;
        margin-right: -4rem;         
    }

    .contact-section-title {
        font-size: 2rem;
    }

    .contact-details-container {        
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem 0rem;
        
    }

    .contact-details {
    flex-direction: column;    
    }
    


}

@media screen and (max-width: 600px) {
   /* #contact, 
   footer {
    height: 20vh;
   } */
   /* #profile {
    height: 83vh;
    margin-bottom: 0;
   } */
   article {
    font-size: 1rem;
   }
   footer nav {
    height: fit-content;
    margin-bottom: 2rem;
   }
   /* .about-containers, 
   .contact-info-upper-container, 
   .btn-container {
    flex-wrap: wrap;
   } */

   contact-info-container {
    margin: 0;
   }
   contact-info-container p, 
   .nav-links li a {
    font-size: 1rem;
   }

   .experience-sub-title {
    font-size: 1.25rem;
   }

   .logo {
    font-size: 1.5rem;
   }

   .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;    
   }

   

   /* .section__text__p2 {
    font-size: 1.25rem;    
   }

   .title {
    font-size: 2rem;
   }

   .text-container {
    text-align: justify;
   } */

   /*****************************/  
    body {
        margin: 0 1rem;
    }

    nav {    
    margin: 0;   
        
    }

    
   #desktop-nav {
    display: none;
    }

   #hamburger-nav {
    display: flex;
    }   
    
    a {
        color: var(--background-color);        
    }
    
    a:hover {
        color: var(--color-3);
        background-color: var(--background-color);
        transform: none;
    }

    #hero {
        background-image: var(--background-color);
        width: 100%;
        margin: 0;                       
    }

    /* .section__pic-container {
        display: block;
        width: auto;
        height: 46vw;
        justify-content: center;
    }  */

    /* .profile-pic-container {  
        display: none;         
            
    } */
    
    .profile-text-container {       
        height: fit-content;
        padding: 0;
    }

   .project-details-container,
   .sm-project-details-container {   
        flex-direction: column;        
        gap: 0rem;        
    } 

    .sm-project-details-container {
        width: 100%;     
    }   
    
    .sm-project-container {
        flex-direction: column;           
    }

    .project-img {        
        width: 100%;
    }

    .lg-project-container  
    .project-info-container {
        width: 100%;  
        gap: 0.5rem;            
    }
    
    .project-info-container button {
        margin-top: 0.5rem;  
        padding: 0.5rem .8rem;          
                                 
    }

    .project-label {
        font-size: 1rem;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .about-container {
        flex-direction: column;  
        align-items: center;     
    }

    .about-section-title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 0;
    }

    .contact-section-title  {            
        font-size: 1.5rem;
    }

    #contact, 
    #footer {        
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;                  
    }

    footer {       
        flex-direction: column;
        align-items: center;    
        gap: 1.5rem;   
        padding: 0 0rem 2rem;       
    }

}