@media screen and (max-width: 1100px) {   
    
    #desktop-nav {
        justify-content: center;        
    }   

    body {
        margin: 0 4rem;
    }

    nav {
        margin: 0 4rem;        
    }
    
    #hero {            
        width: calc(100% + 8rem);
        margin-left: -4rem;
        margin-right: -4rem;          
    }   
    
    .lg-project-container {     
        gap: 2rem;            
    }

    .project-details-container,
    .sm-project-details-container {   
        flex-direction: column;               
        gap: 0rem;                
    }

    .sm-project-details-container img {
        width: 100%;
        max-height: fit-content;
    }

    .project-img {        
        width: 100%;        
    }

    .project-info-container {
        width: 100%;              
        padding: 1rem;              
    } 
    
    .sm-project-details-container 
    .project-info-container {
        padding: 1rem;
    }    

    .btn-container {
        align-self: flex-end;
    }

    #contact, 
    #footer {        
        width: calc(100% + 8rem);
        margin-left: -4rem;
        margin-right: -4rem;         
    }

    .contact-section-title {
        font-size: 3rem;
    }  

    .contact-container {        
        gap: 1.2rem;               
    }
}

@media screen and (max-width: 600px) {
   .scroll-animate {
        animation: none !important;
        opacity: 1 !important; 
    }

   article {
        font-size: 1rem;    
   }

   footer nav {
        height: fit-content;
        margin-bottom: 2rem;
   }   

   contact-info-container {
        margin: 0;
   }

   contact-info-container p, 
   .nav-links li a {
        font-size: 1rem;
   }

   .experience-sub-title {
        font-size: 1.25rem;
   }

   .logo {
        font-size: 1.5rem;
   }

   .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;    
    }  
    
    body {
        margin: 0 1rem;
    }

    nav {    
        margin: 0;   
        
    }

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }   
    
    .menu-links a {
        color: var(--background-color);        
    }
    
    .menu-links a:hover {
        
        background: hsl(84, 29%, 17%);
        transform: none;
        text-decoration: line-through;
    }

    #hero {
        background-image: var(--background-color);
        width: 100%;
        margin: 0;                       
    }    
    
    .profile-text-container {      
        padding: 0;
    }

    .highlight-title {
        font-size: 4.2rem;               
    }

    .section-title {
        font-size: 1.5rem;   
        text-align: center;
    }

   .project-details-container,
   .sm-project-details-container {   
        flex-direction: column;        
        gap: 0rem;        
    } 

    .sm-project-details-container {
        width: 100%;     
    }   
    
    .sm-project-container {
        flex-direction: column;           
    }

    .project-img {        
        width: 100%;
    }

    .lg-project-container  
    .project-info-container {
        width: 100%;  
        gap: 0.5rem;            
    }
    
    .project-info-container button {
        margin-top: 0.5rem;  
        padding: 0.5rem 0.8rem;                      
    }

    .project-label {
        font-size: 1rem;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .about-container {
        flex-direction: column;  
        align-items: center;              
    }

    .about-details-container {
        width: 100%;;              
    }

    .about-container a {
        color: var(--color-3);
    }       

    #contact, 
    #footer {        
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;  
        padding-right: 1rem;   
        padding-left: 1rem;                 
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-details-container {               
        border-left: none;
        padding-left: none;         
    }

    .contact-details {
        justify-content: center;
    }

    .contact-section-title  {               
        text-align: center;        
    }

    footer {       
        flex-direction: column;
        align-items: center;    
        gap: 1rem;   
        padding-bottom: 2rem;               
    }
    footer p {            
     font-size: 0.875rem;
    }
}