/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font: "Hanken Grotesk", sans-serif;;

    --color-1: #374125;
    --color-2: #919A82;
    --color-3: #1B2112;
    --color-4: #F4F5F6;

    --text-color-black: var(--color-3);
    --text-color: var(--color-1);
    --background-color: var(--color-4);
    --acent-color: var(--color-2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font); 
    background-color: var(--background-color);
    margin: 0 6rem;
}

p {
    color: var(--text-color-black);
}

/*TRANSITION*/

a, 
.btn {
    transition: all 300ms ease;
}

/*NAVIGATION*/

nav, 
.nav-links {
    display: flex;
    justify-content: space-around;
}

nav {
    justify-content: flex-start;
    align-items: center;
    height: 12vh;
    margin: 0 6rem;    
    z-index: 2;
    
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;    
}

a {
    color: var(--text-color-black);
    text-decoration: none;
    text-decoration-color: var(--background-color);
    display: inline-block;   
   
}

a:hover {
    text-decoration: line-through;
}


/*HAMBURGER MENU*/

#hamburger-nav {
    display: none;
    justify-content: flex-end;       
    
}

.hamburger-menu {    
    position: relative;
    display: inline-block;  
    z-index: 5;        
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;   
    
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color-black);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-110%);    
    width: 70vw;
    max-height: 0;       
    overflow: hidden;
    transition: all 0.3 ease-in-out; 
      
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.125rem;    
    text-decoration: none;
    transition: all 0.3 ease-in-out;background-color: var(--color-3);    
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/*SECTIONS*/

section {
   padding-top: 12vh;
   /* height: 95vh;    */
   min-height: fit-content;  
   border: 1px solid red;    
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* HERO SECTION*/

#hero {
    position: relative;    
    width: calc(100% + 12rem);
    margin-left: -6rem;
    margin-right: -6rem;
    padding-top: 0;
    height: 100vh;
    z-index: 1;
    background-image: url(assets/profile-dotted-2-pic.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.hero-content {
    height: 100%;
}

.section__text {
    background-color: var(--background-color);
    height: 60vh;
    min-height: fit-content;
    width: max(25vw, 370px);
    padding: 2rem;
    z-index: 2;    
}

.profile {
    display: flex;    
    justify-content: center;
    align-items: center;   
    height: 88vh;         
}

.profile-title {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.profile-pic-container {  
    display: none;         
        
} 

/* .section__pic-container img {
    width: %;
    
    align-self: center;
    margin-right: 4rem;
} */

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: left;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}


.socials-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.7rem;
}

/***********************************/


/*ICONS*/

.icon {
    cursor: pointer;
    height: 1.5rem;
}

/*BUTTONS*/

.btn {
    font-weight: 500;
    padding: 0.8rem 1.1rem;
    transition: all 300ms ease;   
    
}

.btn-color-1 {
    border: var(--color-3) 0.1rem solid;
    background-color: var(--color-3);
    color: var(--color-4);    
}

.btn-color-1:hover {
    background: hsl(84, 29%, 17%);
    border: var(--color-3) 0.1rem solid;
    cursor: pointer;   
    text-decoration: line-through;
    transform: scale(0.97);
}


/*PROJECTS SECTION*/

.lg-project-container {        
    min-height: fit-content; 
    display: flex;    
    flex-direction: column;
    gap: 4rem;
}

.sm-project-container {
    min-height: fit-content; 
    display: flex;    
    gap: 2rem;
}


.project-details-container {
    display: flex;
    min-height: fit-content;             
    overflow: hidden;  
    background-color: #1b211209; 
}

.project-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    min-height: fit-content;
    padding: 2rem;       
}

.sm-project-details-container {
    width: 50%;
    min-height: fit-content; 
    display: flex;            
    overflow: hidden;  
    background-color: #1b211209; 
}

.sm-project-details-container img {
    width: 50%;
    object-fit: cover;
}

.sm-project-details-container 
.project-info-container {    
    gap: 1rem;  
    padding: 1.5rem;           
}

.project-img {
    display: block;    
    width: 60%;
    height: 100%;    
    object-fit: cover;       
}

.lg-project-container 
img {
    filter: saturate(0.8);        
}

.project-label {
    font-size: 1.2rem;
}

.project-title {      
    color: var(--color-3);
    font-size: 2rem;
}

.sm-project-title {      
    color: var(--color-3);
    font-size: 1.5rem;
}

.project-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    text-decoration: underline;
    text-underline-offset: 0.3rem;       
    border-radius: 2rem;
    color: var(--text-color-black);     
}


/*ABOUT SECTION*/

#about {    
    height: 90vh;
} 

.about-section-container {
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.about-section-title {
    font-size: 5rem;
    text-align: left;   
    padding-top: 4rem;   
}

.about-container {
    display: flex;   
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;       
}

.about-details-container {
    width: clamp(300px, 40%, 800px);    
}

.about-profile-img {
    display: block;
    width: clamp(130px, 10vw, 230px);
    height: auto;
    object-fit: cover;
    
}


/* .about-containers {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
} */

/* .about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--color-4);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;

}

.section__pic-container {
    height: 300px;
    margin: auto 0;
} */

/*EXPERIENCE SECTION*/


/* .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;    
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
} */

/*CONTACT*/

/* #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    border-color: var(--color-2);
    margin: 2rem auto;
    padding: 0.7rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-icon {
    cursor: default;
} */

/*FOOTER SECTION*/

footer {
    height: 26vh;
    margin: 0 1rem;
}

